@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat" !important;
}

body{
  width: 100vw;
}

.container {
  height: 820px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 130px;
}

.Pookie {
  position: relative;
  pointer-events: none;
  height: 350px;
  width: 350px;
  z-index: 2;
}

.left-content {
  display: flex;
}

.grass {
  display: flex;
}

.name {
  color: white;
}

.name h2 {
  font-size: 4rem;
}

.name p {
  font-size: large;
  font-weight: 500;
  opacity: 0.8;
}

.info {
  color: white;
  display: flex;
  flex-direction: column;
}

.info p {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bolder;
}
.information {
  display: grid;
  grid-template-columns: 200px 150px 550px 200px;
  align-items: center;
  row-gap: 27px;
  transform: translate(215px, 10px);
}

.ability {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 1000px; */
}

.para {
  color: white;
  font-weight: 500;
}

.bar {
  height: 25px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.range,
.attack,
.defnse,
.sp-defnse,
.speed {
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.range {
  width: 0;
}

.attack {
  width: 0;
}

.defnse {
  width: 0;
}

.sp-defnse {
  width: 0;
}

.speed {
  width: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin: 10px 205px;
  opacity: 0.3;
  font-weight: 700;
}

nav {
  display: flex;
  gap: 20px;
  transform: translate(750px, 8px);
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.search-icon {
  transform: translate(501px, 8px);
}

.main h1 {
  font-size: 17rem;
  opacity: 0.1;
  position: absolute;
  left: 500px;
  top: 50px;
  color: rgb(255, 255, 255);
}

.stats {
  transform: translate(43px, -1px);
  color: white;
  font-size: 2rem;
  grid-row: 1/6;
  /* border: 2px solid red; */
}

.img-sideinfo {
  margin-bottom: 80px;
}

.number {
  color: white;
}

span {
  font-weight: 100;
}

/* .card-contaner {
  width: 80%;
  display: grid;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
} */
.pokie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.Card-container {
  height: 220px;
  width: 240px;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card h1 {
  font-size: 16px;
  color: white;
  padding: 15px;
  margin-right:  106px;
}

.card-pokie {
  width: 100px;
  height: 100px;
  /* transform: translate(107px, 25px); */
  margin-left: auto;
  margin-right: 55px;
}

.two-info {
  height: 52px;
  /* border: 2px solid; */
  opacity: 0.4;
  background-color: white;
  display: grid;
}

.two-info p {
  margin-left: 5px;
  font-weight: 500;
}

.img {
  width: 100%;
  display: flex;
}

.card-mainpage {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.btn-grp button {
  background-color: rgba(168, 211, 168, 0.893);
  border-radius: 30px;
  border: none;
  width: 150px;
  height: 30px;
  margin: 70px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
